certifi==2024.8.30 ; python_version >= "3.11"
charset-normalizer==3.4.0 ; python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
packaging==24.1 ; python_version >= "3.11"
prometheus-client==0.21.0 ; python_version >= "3.11"
python-json-logger==2.0.7 ; python_version >= "3.11"
qbittorrent-api==2024.10.68 ; python_version >= "3.11"
requests==2.32.3 ; python_version >= "3.11"
urllib3==2.2.3 ; python_version >= "3.11"
